$spacing-small: 0.3em;
$spacing-medium: 0.6em;
$spacing-large: 0.9em;

$tint-weak: 0.3;
$tint-medium: 0.6;
$tint-strong: 0.8;

$transition-short: 100ms;
$transition: 200ms;

$border-size-small: 0.2em;
$border-size-medium: 0.5em;
$border-size-large: 0.75em;
$border-size-xl: 0.9em;

$radius: 0.5em;

$disabled-opacity: 0.3;
