@use "../colors";
@use "../config";

dialog,
messagedialog {
  background: colors.$surface-strong;

  .dialog-action-box {
    background: colors.$surface-moderate;
    padding: config.$spacing-medium;
    margin: -0.4em;
    margin-top: 0;
  }

  fontchooser,
  colorchooser {
    padding: config.$spacing-medium;
  }

  filechooser {
    & + .dialog-action-box {
      margin: 0;
    }

    #pathbarbox {
      background: colors.$surface-moderate;

      box {
        & > button {
          padding: 0 12px;
        }
      }

      & > * {
        padding: config.$spacing-small;
        background: colors.$surface-strong;

        border-top-right-radius: config.$border-size-large;
        border-bottom: 1px solid colors.$white-weak;
      }
    }

    treeview {
      background: colors.$surface-strongest;
    }
  }
}
