@use "../colors";
@use "../config";

iconview {
  background: colors.$surface-moderate;
  padding: 0.3em;

  &:selected {
    color: colors.$white-strongest;
    background: colors.$accent-primary;
    border-radius: config.$radius;
  }
}
