@use "sass:color";
@use "../colors";

label {
  &.dim-label,
  &:disabled {
    opacity: 0.3;
  }

  selection {
    background: colors.$accent-primary;
    color: color.adjust(colors.$white-strong, $lightness: 50%);
  }
}
