@use "../colors";
@use "../config";

menu {
  padding: 0.6em;
  border-radius: config.$border-size-xl;

  background: colors.$surface-weak;
  box-shadow: none;

  menuitem {
    border-radius: config.$border-size-medium;
    padding: config.$spacing-medium;

    transition: background-color config.$transition-short;

    &:hover {
      background: colors.$white-weakest;
    }
  }
}
