@use "sass:color";
@use "../colors";
@use "../config";

placessidebar {
  background: transparent;

  list {
    background: transparent;
    padding: 0.2em 0.4em;

    row {
      border-radius: 0.5em;

      &:hover {
        background: colors.$white-weakest;
      }

      &:active {
        background: colors.$white-weak;
      }

      &:selected {
        background: color.change(
          colors.$accent-primary,
          $alpha: config.$tint-medium
        );
      }

      .sidebar-icon {
        margin-right: config.$spacing-medium;
      }
    }
  }

  &.frame,
  .frame {
    border: 0;
  }
}
