@use "sass:color";
@use "../colors";
@use "../config";

placessidebar {
  background: colors.$surface-moderate;

  list {
    background: colors.$surface-strong;
    border-top-left-radius: config.$border-size-large;

    padding: 0.4em 0.6em;

    row {
      border-radius: config.$radius;
      transition: background-color config.$transition-short;

      &:hover {
        background: colors.$white-weakest;
      }

      &:active {
        background: colors.$white-weak;
      }

      &:selected {
        background-color: color.change(
          colors.$accent-primary,
          $alpha: config.$tint-medium
        );
      }

      &:not(:first-child) {
        margin-top: 2px;
      }

      .sidebar-icon {
        margin-right: config.$spacing-medium;
      }
    }
  }

  &.frame,
  .frame {
    border: 0;
  }
}
