@use '../colors';

popover {
  background: colors.$surface-strong;
  box-shadow: 0 0 5px colors.$black-moderate;
  border-radius: 0.9em;
  padding: 0 0.44em;

  box {
    modelbutton {
      padding: 0.4em 1em;
      margin: 0 -0.5em;
      border-radius: 0.5em;

      &:hover {
        background: colors.$white-weak;
      }

      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }

  &.menu:first-child {
    border-top-left-radius: 0;
  }
}