@use "../colors";
@use "../config";

popover {
  background: colors.$surface-strong;
  box-shadow: 0 0 8px colors.$black-moderate;
  border-radius: config.$border-size-large;

  box {
    margin: 0 -0.1em;

    modelbutton {
      padding: 0.4em 1em;
      border-radius: config.$border-size-medium;

      transition: background-color config.$transition-short;

      &:hover {
        background: colors.$white-weak;
      }

      &:not(:first-child) {
        margin-top: 4px;
      }
    }
  }

  &.menu:first-child {
    border-top-left-radius: 0;
  }
}
