@use "../colors";
@use "../config";

scrollbar {
  -gtkscrollbar-has-backward-stepper: false;
  -gtkscrollbar-has-forward-stepper: false;

  slider {
    padding: config.$border-size-small;
    border-radius: 1em;
    background: colors.$white-weakest;

    &:hover {
      background: colors.$white-weak;
    }

    &:active {
      background: colors.$accent-primary;
    }
  }
}
